.scenario-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}
.scenario-message {
  color: white;
  width: 80%;
  margin: 2px;
  padding: 1em;
  font-size: smaller;
  font-weight: bold;
}
 
 .userBubble {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  position: relative;
  padding: 2vw;
  width: 50vw;
  margin-bottom: -1em;
  border-radius: 10px;
  left: -3vw;
  color: white;
 }
 